.classpath
.project
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
target/classes/.gitignore
/target/
algorithm.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
